<link rel='stylesheet' href='/css/404.css' />

<!-- https://codepen.io/rennan/pen/ACBKu -->
<h1>404</h1>
<p>Oops! Something is wrong.</p>

<a class="button" href="/personalArea/1"><i class="icon-home"></i> Go back in initial page, is better.</a>
