<% layout('layout/pattern') -%>

<link rel="stylesheet" href="/css/developers.css">

<div class="page">
  <%-partial('./partials/leftVerticalMenu')%>
  <div class="right-column">
    <div class="container">
      <div class="block">
        <p class="name">Olga Shabalina</p>
        <div class="photo" style="background-image: url('/system_images/contacts/Shabalina.jpg')">
        </div>
        <p class="position">Project manager</p>
        <div class="contacts">
          <div class="contacts__row">
            <div class="">
            </div>
            <p class="info"></p>
          </div>
          <div class="contacts__row">
            <div class="">
            </div>
            <p class="info"></p>
          </div>
          <div class="contacts__row">
            <div class="">
            </div>
            <p class="info"></p>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="name">Vladislav Guryev</p>
        <div class="photo" style="background-image: url('/system_images/contacts/Vladislav.jpg')">
        </div>
        <p class="position">Back-end developer</p>
        <div class="contacts">
          <div class="contacts__row">
            <div class="logo mail">
            </div>
            <p class="info">VladGurjev@mail.ru</p>
          </div>
          <div class="contacts__row">
            <div class="">
            </div>
            <p class="info"></p>
          </div>
          <div class="contacts__row">
            <div class="">
            </div>
            <p class="info"></p>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="name">Angelina Voronina</p>
        <div class="photo" style="background-image: url('/system_images/contacts/Angelina.jpg')">
        </div>
        <p class="position">Mobile developer</p>
        <div class="contacts">
            <div class="contacts__row">
              <div class="">
              </div>
              <p class="info"></p>
            </div>
            <div class="contacts__row">
              <div class="">
              </div>
              <p class="info"></p>
            </div>
            <div class="contacts__row">
              <div class="">
              </div>
              <p class="info"></p>
            </div>
        </div>
      </div>

      <div class="block">
        <p class="name">Nikita Dmitriev</p>
        <div class="photo" style="background-image: url('/system_images/contacts/Nikita.jpg')">
        </div>
        <p class="position">Front-end developer</p>
        <div class="contacts">
          <div class="contacts__row">
            <div class="logo mail">
            </div>
            <p class="info">nikitadmitriev97@mail.ru</p>
          </div>
          <div class="contacts__row">
            <div class="">
            </div>
            <p class="info"></p>
          </div>
          <div class="contacts__row">
            <div class="">
            </div>
            <p class="info"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
