<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/normalize.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<div class="modal" id="reset_password">
  <form action="/reset_password" method="POST" class="modal__form">
    <label for="newPassword">New password</label>
    <input type="password" name="newPassword" id="newPassword" required>
    <label for="verifyPassword">Confirm password</label>
    <input type="password" name="verifyPassword" id="verifyPassword" required>
    <input type="hidden" name="token" value="" id="token" required>

    <span class="success" style="color: green">
    </span>

    <span class="error" style="color: red"></span>

    <button type="submit" name="button">Reset Password</button>
  </form>
</div>

<script defer>
var token = document.querySelector("#token");
token.value = window.location.href.match(/token=\S+/)[0].replace("token=", "");

var form = document.querySelector("form");
form.addEventListener("submit", restorePassword);

function restorePassword(event) {
  event.preventDefault();

  var newSettings = {};
  newSettings.newPassword = document.querySelector("#newPassword").value;
  newSettings.verifyPassword = document.querySelector("#verifyPassword").value;
  newSettings.token = document.querySelector("#token").value;

  $.ajax({
    type: 'POST',
    url: '/reset_password',
    dataType: 'json',
    data: newSettings,
    success: data =>  {
      document.querySelector(".error").innerHTML = "";
      document.querySelector(".success").innerHTML = data;
    },
    error: data =>  {
      document.querySelector(".success").innerHTML = "";
      document.querySelector(".error").innerHTML = data.responseText.replace(/\"|\./g, "");
    }
  });
}
</script>
