<style>
  .block {
    position: relative;
  }
  .block a {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    margin: 0 auto 10px auto;
    background-color: rgb(42, 95, 129);
    color: white;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .block a:hover {
    background-color: rgb(240, 240, 240);
    color: rgb(42, 95, 129);
    box-shadow: none;
    transition: all;
    transition-duration: 0.5s;
  }
</style>

<div class="block">
  <p>Editors</p>

  <a href="/configuration_module/editors">Open</a>
</div>
